@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
	min-width: 100vw;
	background: rgb(100,102,107);
	background: linear-gradient(180deg, rgba(100,102,107,1) 25%, rgba(113,115,119,1) 31%, rgba(137,139,142,1) 43%, rgba(151,152,155,1) 55%, rgba(183,184,185,1) 70%, rgba(201,202,202,1) 85%, rgba(224,224,224,0.31) 100%);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #64666b;
	padding: 10px;
	height: 20%;
}
#logo {
    width: 40vmin;
    margin: 2%;
}
#homeIcon {
    width: 10vmin;
    margin: 3%;
}
#backIcon {
    width: 5vh;
    margin: 3%;
}
#signUpButton {
    margin: 2%;
    border-radius: 20px;
    padding: 2vmin;
    background-color: rgb(172,175,185);
}
footer {
    padding: 10px;
    bottom: 0px;
    margin-top: 20px;
    width: 100%;
    border-top: solid;
	position: fixed;
}
::placeholder {
    color: black;
}
#searchbar {
    margin: 5%;
    width: 70%;
    height: 3%;
    margin-left: 15%;
    border-radius: 20px;
    padding-left: 10px;
}
h1 {
    border-bottom: solid;
    padding: 1vmin 2vmin 2vmin 0vmin;
	font-size: 3em;
    display: flex;
    align-items: center;
}