@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
	min-width: 100vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(72, 79, 81);
	padding: 10px;
}
#logo {
    width: 40vmin;
    margin: 2%;
}
#signUpButton {
    margin: 2%;
    border-radius: 20px;
    padding: 2vmin;
    background-color: rgb(172,175,185);
}
footer {
    padding: 10px;
    bottom: 0px;
    margin-top: 20px;
    width: 100%;
    border-top: solid;
}
::placeholder {
    color: black;
}
#searchbar {
    margin-top: 5%;
    width: 70%;
    height: 3%;
    margin-left: 15%;
    border-radius: 20px;
    padding-left: 10px;
}






#dropDown{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
#dropDownContent{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60vw;
	right: 1vw;
}
#menuIcon{
	display: none;
}
.options{
	padding: 1%;
	border-radius: 15px;
	font-size: 2em;
}
.options:hover{
	background-color: grey;
	color: white;
}
@media only screen and (max-width: 1000px) {
	#dropDownContent{
		display: none;
		position: absolute;
		background-color: rgb(72, 79, 81);
		width: 33vw;
		box-shadow: 3px 3px 7px;
		z-index: 1;
		margin-right: 1vw;
		border-radius: 15px;
	}
	#menuIcon{
		display: inline-block;
		margin-right: 5vw;
		padding: 2vw;
		width: 8vw;
		border-radius: 15px;
	}
	.options{
		padding: 5%;
		font-size: 5vw;
		margin: 15%;
	}
}