#categories {
    display: grid;
    grid-template-areas: 
    "Lists Library"
    "Settings FAQ";
    margin: auto;
    padding: 5%;
    width: 80vmin;
    height: 70vmin;
}
#categories > * {
    background-color: #c8c9cc;
    align-self: stretch;
    justify-self: stretch;
    margin: 2%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#lists {
    grid-area: Lists;
}
#library {
    grid-area: Library;
}
#settings {
    grid-area: Settings;
}
#FAQ {
    grid-area: FAQ;
}
h1 {
    border-bottom: solid;
    padding: 2% 5% 5% 10%;
}

#categories > * {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    filter: drop-shadow(3px 3px 4px);
    cursor:pointer;
}
#lists:active, #library:active, #settings:active, #FAQ:active {
    color:white;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}