#libraryContainer {
    font-size: 1.5rem;
}
#libraryContainer > * {
    margin: 2vmin;
}
#libraryContainer > button {
    font-size: 1em;
    background-color: #9da0a6;
}
.wordContainer {
    background-color: #c8c9cc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding: 5vmin;
    border-radius: 20px;
}
.wordContainer > iframe {
    width: 80vmin;
    height: 45vmin;
}
.wordContainer > * {
    margin: 10px;
}
.addicon {
    width: 45px;
    margin-left: 20px;
}
.wordContainer > p {
    font-size: 25px;
}

.wordContainer > h4 {
    font-size: 28px;
    font-weight: bold;
}

.wordContainer > h2 {
    font-size: 45px;
    font: 900;
}

#searchIcon {
    width: 30px;
    height: auto;
    margin-left: 5px;
    
}

#searchbar {
    margin-left: 10%;
    width: 75%;
    height: 5%;
    font-weight: 550;
    color: rgba(0,0,0,0.2);
}

#addWord {
    margin-top: -2px;
    margin-bottom: 15px;
    margin-left: 20%;
    width: 55%;
    height: 4%;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 1.5px;
}