
#signUpContainer {
    border-radius: 20px;
    padding: 1.5vmin;
    background-color: rgb(244,244,244);
    display: flex;
    flex-direction: column;
    margin: 15vmin;
    height: auto;
    width: auto;
}
#signUp > * {
    margin: 2vmin;
    font-size:large;
}

form {
    display: contents;
}

header {
    justify-content: center;
}

#signUp > input[type="text"], #signUp > input[type="password"] {
    padding: 2.5vmin;
    margin: 1.5vmin;
    background-color: rgb(192, 192, 192);
    border-radius: 1em;
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 1.5px;
}

#signUp > input[type="submit"] {
    border-radius: 13px;
    width: auto;
    margin: 4vmin;
    padding: 2vmin;
    align-self: center;
    background-color: #9da0a6;
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 1.5px;
}

#signUpContainer > a {
    text-align: center;
    color: #405a8f;
    font-size: larger;
    margin-top: 2.5vmin;
    margin-bottom: 2vmin;
}
iframe {
    width: 80vmin;
    height: 45vmin;
    margin: 5%;
}
#videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}