// Page where a user can add and remove words from their list and change their list names.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Edit List
  link(rel='stylesheet' href='../css/general.css')
  link(rel='stylesheet' href='../css/editList.css')
header
  image#logo(src='../images/logo.png' alt='logoImage')
  image#homeIcon(src='../images/homeicon.png' alt='homeIcon' onclick='logoClick()')
h1
  image#backIcon(src='../images/backicon.png' alt='backIcon' onclick='history.back()')
  | Edit List
form
  label(for='listName') List Name: 
  input#listName(type='text' name='listName')
  label(for='updateList') Update List
  input#updateList(type='submit')
  image#mailIcon(src='../images/mailicon.png' alt='mailIcon' onclick="location.href='/sendList';")
#listContainer
  button#addWord + Add Word to List
script(src='../js/homeIcon.js')
script(src='../js/editList.js')
