//
  Page where it has the list of all the words in the database, you can add them to your list,
  search for a specific word or add a new word to the database.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Library
  script(src='../js/firebase.js')
  link(rel='stylesheet' href='../css/general.css')
  link(rel='stylesheet' href='../css/library.css')
header
  image#logo(src='../images/logo.png' alt='logoImage')
  image#homeIcon(src='../images/homeicon.png' alt='homeIcon' onclick='logoClick()')
h1
  image#backIcon(src='../images/backicon.png' alt='backIcon' onclick='history.back()')
  | Library
input#searchbar(type='text' placeholder='Search...')
image#searchIcon(src='../images/searchicon.png' alt='searchIcon')
#libraryContainer
  button#addWord(onclick="location.href='wordSubmission.html';") + new word
script(src='../js/library.js')
script(src='../js/homeIcon.js')
