// Page where it has all your lists and you can edit and send them to other user's.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Lists
  link(rel='stylesheet' href='../css/general.css')
  link(rel='stylesheet' href='../css/lists.css')
header
  image#logo(src='../images/logo.png' alt='logoImage')
  image#homeIcon(src='../images/homeicon.png' alt='homeIcon' onclick='logoClick()')
h1
  image#backIcon(src='../images/backicon.png' alt='backIcon' onclick='history.back()')
  | My Lists
#listContainer
  button#addList + new list
script(src='../js/lists.js')
script(src='../js/homeIcon.js')
