//
  Page where you can edit your account information, log out and go to admin view to accept or reject words
  if you are authorized.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Settings
  link(rel='stylesheet' href='../css/general.css')
  link(rel='stylesheet' href='../css/settings.css')
header
  image#logo(src='../images/logo.png' alt='logoImage')
  image#homeIcon(src='../images/homeicon.png' alt='homeIcon' onclick='logoClick()')
h1
  image#backIcon(src='../images/backicon.png' alt='backIcon' onclick='history.back()')
  |         Settings
  button#adminView(onclick="location.href='admin.html'") Admin View
#settingsContainer
  h2 Change your account details
  form#changeProfile
    label(for='fullName') Full Name: 
    input#fullName(type='text' placeholder='Full Name')
    label(for='emailEntry') Email:
    input#emailEntry(type='text' placeholder='Email')
    //- label(for='passwordEntry') Password:
    //- input#passwordEntry(type='password' placeholder='Password')
    //- label(for='confirmPasswordEntry') Confirm Password:
    //- input#confirmPasswordEntry(type='password' placeholder='Confirm Password')
    input#submitForm(type='submit' value='Save Changes')
  button#signOut(onclick="location.href='signIn.html'") Log Out
script(src='../js/homeIcon.js')
script(src='../js/settings.js')
