// Page where you can create an account or go to sign in page.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up
  link(rel='stylesheet' href='../css/general.css')
  link(rel='stylesheet' href='../css/signUp.css')
header
  image#logo(src='../images/logo.png')
#videoContainer
  iframe(src='https://www.youtube.com/embed/DF4DQgxmhPs')
#signUpContainer
  form#signUp
    label(for='fullName') Full Name: 
    input#fullName(type='text' placeholder='Full Name')
    label(for='emailEntry') Email:
    input#emailEntry(type='text' placeholder='Email')
    label(for='passwordEntry') Password:
    input#passwordEntry(type='password' placeholder='Password')
    label(for='confirmPasswordEntry') Confirm Password:
    input#confirmPasswordEntry(type='password' placeholder='Confirm Password')
    // onClick to be changed to logOn() function
    input(type='submit' value='Sign Up')
  a(href='localhost:32535/signIn') Sign In
script(src='../js/signUp.js')
// <script src="../js/signIn.js"></script>
