//
  Page where you can submit words to the dictionary, with details of the term the url
  to the video of the ASL sign, the scientific definition and the plain definition.
  They will then be pending and have to be approved by an admin on the admin view.
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Word Submission
  link(rel='stylesheet' href='../css/general.css')
  link(rel='stylesheet' href='../css/wordSubmission.css')
header
  image#logo(src='../images/logo.png' alt='logoImage')
  image#homeIcon(src='../images/homeicon.png' alt='homeIcon' onclick='logoClick()')
h1
  image#backIcon(src='../images/backicon.png' alt='backIcon' onclick='history.back()')
  | Word Submission
#formContainer
  form#wordSubmissionContainer
    label(for='word') Enter new term:
    input#wordEntry(type='text' placeholder='Enter New Term')
    label(for='link') Enter the Link of ASL Sign:
    input#linkEntry(type='text' placeholder='Enter Link of ASL Sign')
    label(for='termDefinition') Enter the terminology definition:
    input#scientificDefinitionEntry(type='text' placeholder='Scientific Definition of The Term')
    label(for='wordDefinition') Enter the word definition:
    input#plainDefinitionEntry(type='text' placeholder='Plain Definition of Word')
    input(type='submit' value='Submit Word')
script(src='../js/submitWord.js')
script(src='../js/homeIcon.js')
