<!-- Page where a user can add and remove words from their list and change their list names. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit List</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/editList.css">
</head>
<body>

    <header>
        <image id="logo" src="../images/logo.png" alt="logoImage"></image>
        <image id="homeIcon" src="../images/homeicon.png" alt="homeIcon" onclick="logoClick()"></image>
    </header>

    <h1><image id="backIcon" src="../images/backicon.png" alt="backIcon" onclick="history.back()" ></image>Edit List</h1>

    <form>
        <label for="listName">List Name: </label>
        <input type="text" id="listName" name="listName">
        <label for="updateList">Update List</label>
        <input type="submit" id="updateList">
        <image id="mailIcon" src="../images/mailicon.png" alt="mailIcon" onclick = "location.href='localhost:32535/sendList';"></image>
    </form>
    
    <div id="listContainer">
        <button id="addWord">+ Add Word to List</button>
        
    </div>
    
    <script src="../js/homeIcon.js"></script>
    <script src="../js/editList.js"></script>
</body>
</html>