<!-- Page that has a couple answers to frequent questions (static page) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/FAQ.css">
</head>
<body>
    <header>
        <image id="logo" src="../images/logo.png" alt="logoImage"></image>
        <image id="homeIcon" src="../images/homeicon.png" alt="homeIcon" onclick="logoClick()"></image>
    </header>

    <h1><image id="backIcon" src="../images/backicon.png" alt="backIcon" onclick="history.back()" ></image>FAQ</h1>
    
    <div id="FAQContainer">
        <div class="questionContainer">
            <p class="question">What is this site supposed to do?</p>
            <p>
                It has a dictionary of ASL terms where users can make lists of words for upcoming meetings, and be better prepared for
                any technical jargon.
            </p>
        </div>
        <div class="questionContainer">
            <p class="question">Who is this site for?</p>
            <p>
                It's for anyone who needs to learn and share their ASL signs.
            </p>
        </div>
    </div>

    <script src="../js/homeIcon.js"></script>
</body>
</html>