<!-- Page where it has the list of all the words in the database, you can add them to your list,
    search for a specific word or add a new word to the database. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <script src="../js/firebase.js"></script>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/library.css">

</head>
<body>
    
    <header>
        <image id="logo" src="../images/logo.png" alt="logoImage"></image>
        <image id="homeIcon" src="../images/homeicon.png" alt="homeIcon" onclick="logoClick()"></image>
    </header>

    <h1><image id="backIcon" src="../images/backicon.png" alt="backIcon" onclick="history.back()" ></image>Library</h1>

    <input id="searchbar" type="text" placeholder="Search...">
    <image id="searchIcon" src="../images/searchicon.png" alt="searchIcon"></image>
    
    
    <div id="libraryContainer">
        <button id="addWord" onclick="location.href='wordSubmission.html';">+ Add Word to Library</button>
    </div>
    
    <script src="../js/library.js"></script>
    <script src="../js/homeIcon.js"></script>
</body>
</html>