<!-- Page where you can create an account or go to sign in page. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/signUp.css">
</head>
<body>
    <header>
        <image id="logo" src="../images/logo.png"></image>
    </header>
    
    <div id="videoContainer">
        <iframe src="https://www.youtube.com/embed/DF4DQgxmhPs"></iframe>
    </div>

    <div id="signUpContainer">
        <form id="signUp">
            <label for="fullName">Full Name: </label>
            <input id="fullName" type="text" placeholder="Full Name">
            <label for="emailEntry">Email:</label>
            <input id="emailEntry" type="text" placeholder="Email">
            <label for="passwordEntry">Password:</label>
            <input id="passwordEntry" type="password" placeholder="Password">
            <label for="confirmPasswordEntry">Confirm Password:</label>
            <input id="confirmPasswordEntry" type="password" placeholder="Confirm Password">
            <!-- onClick to be changed to logOn() function -->
            <input type="submit" value="Sign Up"/>
        </form>
        <a href="../html/signIn.html">Sign In</a>
    </div>

    <script src="../js/signUp.js"></script>
    <!--<script src="../js/signIn.js"></script> -->
</body>
</html>