<!-- Page where can sign in go to create a new account or continue without an account. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/signIn.css">
</head>
<body>
    <header>
        <image id="logo" src="../images/logo.png"></image>
    </header>

    <div id="videoContainer">
        <iframe src="https://www.youtube.com/embed/0Tgzc6cqkEQ"></iframe>
    </div>
    
    <div id="loginContainer">
        <form id="login">
            <label for="emailEntry">Email:</label>
            <input id="emailEntry" type="text" placeholder="Email">
            <label for="passwordEntry">Password:</label>
            <input id="passwordEntry" type="password" placeholder="Password">
            <input type="submit" value="Login"/>
        </form>
        <a href="/signUp">create new account</a>
        <a href="/home.html">continue without an account</a>
    </form>

    <!-- script src to be changed to log on .js file -->
    <script src="../js/signIn.js"></script>
</body>
</html>
